
/*-- scss:rules --*/

div.wtf {
  padding: 0.5em;
  margin: 2em 0;
  background-color: rgba(233, 117, 28, 0.3);
  background-repeat: no-repeat;
  border-right: 6px solid #E87C00;
  position: relative;
  font-size: 0.9em;
}
